/*nuevo Majo*/

/*Bibliografia*/
.tituBibli{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color:black;
}

/*AVANCE*/
.avance{
    font-size: 50px;
}
.AvanceTitle{
    font-size: 50px;
}
.progre{
    background-color: rgb(113, 194, 245);
}
@media (max-width: 600px){
    .avance{
        font-size: 30px;
    }
    .progre h1{
        font-size: 40px;
    }
    .AvanceTitle{
        font-size: 35px;
    }
}
@media (max-width: 530px){
    .avance{
        font-size: 20px;
    }
    .progre h1{
        font-size: 20px;
    }
    .AvanceTitle{
        font-size: 30px;
    }
}
/*AUTORES*/
.auto2{
    width: 100%;
    height: 100%;
    /*background-color: rgb(69, 171, 73);*/
    opacity: 70%;
    border-radius: 10%;
    border: 10px dashed #1e7272;
    clip-path: circle(40% at top right);
    transition-property: clip-path;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: linear;
    display: flex;
}
.mena{
    display: flex;
    position: static;
    float: left;
    right: 10%;
    height: 400px;
}

.info{
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    display: flex;
    padding: 10px;
    font-size: 35px;
    width: 100%;
}
@media (max-width: 560px){
    .container3{
        display: flex;
    }
    .auto{
        display: block;
    }
    .auto2{
        display: block;
    }
    .mena{
        display: block;
    }
    .mena img{
        width: 100%;
    }
    .majo{
        display: block;
    }
    .majo img{
        width: 100%;
    }
    .info{
        margin-top: auto;
        margin-bottom: auto;
        float: left;
        display: flex;
        padding: 10px;
        font-size: 30px;
        width: 100%;
    }

}
@media (max-width: 770px){
    .info{
        font-size: 30px;
    }
}
@media (max-width: 380px){
    .info{
        font-size: 25px;
    }
    .tituBibli{
        font-size: 40px;
    }
}

.TextProfe{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(28, 13, 76);
}
.ContProfe{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.Profe{
    width: 40%;
    display: flex;
}
.ParraProf{
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: rgb(21, 108, 117);
    padding: 5%;
    border-radius: 15%;
    color: aliceblue;
    font-size: 25px;
}

@media (max-width: 900px){
    .ContProfe{
        display: block;
        width: 100%;
        align-content: center;
        align-items: center;
    }
    .Profe{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .ParraProf{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }
}
.bibli{
    width: 70%;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 3%;
    text-align: justify;
    border-radius: 15%; 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(2px);
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    border: 15px double #0c0e7e;
}
.textbibli{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.LinkBibli{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*PROGRE 13 FRACC*/
@media (max-width: 860px){
    .tamfrac{
        font-size: 20px;
    }
}
@media (max-width: 770px){
    .tamfrac{
        font-size: 20px;
    }
}
@media (max-width: 450px){
    .tamfrac{
        font-size: 15px;
    }
}
@media (max-width: 390px){
    .tamfrac{
        font-size: 13px;
    }
}

/*VIDEO*/

.videoProgre{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    background-image: url("./../images/KPvideo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 65px 65px;
}
.videoEsti{
    margin-left: auto;
    margin-right: auto;
}


#Passw {
    width: 80%;
}

#ValCon{
    font-size: 14px;
}

.inputcamp img{
    width: 10%;
}

#ValNom{
    font-size: 14px;
}

#ValApe{
    font-size: 14px;
}

#contraSe{
    width: 80%;
}

#CONTRASENA{
    width: 85%;
}

#elimiContra1{
    width: 84%;
}
#elimiContra2{
    width: 84%;
}

@media (max-width: 780px){
#indice2{
    width: 520px;
    height: 1050px;
    background-image: url("images/KI2.png");
    background-size: 520px 1050px;
    background-repeat: no-repeat;
    padding: 78px 35px;
    font-size: 15px;
}
}
@media(max-width: 450px){
#indice2{
    width: 420px;
    height: 900px;
    background-image: url("./../images/KI2.png");
    background-size: 420px 900px;
    background-repeat: no-repeat;
    padding: 78px 35px;
    padding-top: 130px;
    font-size: 12px;
}
}


/*4 Y 5*/

.nota {
    background-color: #65ebd8; /* Color de fondo */
    border: 2px solid #ffffff77;
    padding: 50px; 
    width: 80%; /* Ancho */
    height: auto ;
    max-width: 100%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 50px; 
  }
  
  .nota p {
    margin: 0; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
  }
  .nota ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  .nota ul ul {
    list-style-type: none; 
    margin-left: 20px; 
  }
  
  .nota li {
    margin-bottom: 5px; 
  }